@import "tailwindcss";
@import "@heroui/styles";
@import "@heroui-pro/react/css";
@plugin "@tailwindcss/typography";

/*
 * HeroUI Pro Theme
 * Add this to your global.css after importing @heroui/styles
 * @see https://heroui.com/docs/react/getting-started/theming
 */

/*
 * Font: Inter
 * Load this font in your app:
 * <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors */
  --background: oklch(97.02% 0.0000 0.00);
  --muted: oklch(55.17% 0.0000 0.00);
  --scrollbar: oklch(87.10% 0.0000 0.00);
  --surface-secondary: oklch(95.24% 0.0000 0.00);
  --surface-tertiary: oklch(93.73% 0.0000 0.00);
  --default: oklch(94.00% 0.0000 0.00);
  --accent: oklch(0.00% 0.0000 0.00);
  --success: oklch(73.29% 0.1934 120.38);
  --warning: oklch(78.19% 0.1584 41.86);
  --danger: oklch(65.32% 0.2328 355.27);
  --field-border: oklch(90.00% 0.0000 0.00);
  --border: oklch(90.00% 0.0000 0.00);
  --separator: oklch(92.00% 0.0000 0.00);

  /* Border Radius */
  --field-radius: 0.5rem;

  /* Border Width */
  --field-border-width: 1px;

  /* Misc */
  --skeleton-animation: pulse;
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors */
  --background: oklch(12.00% 0.0000 0.00);
  --muted: oklch(70.50% 0.0000 0.00);
  --scrollbar: oklch(70.50% 0.0000 0.00);
  --surface: oklch(21.03% 0.0000 0.00);
  --surface-secondary: oklch(25.70% 0.0000 0.00);
  --surface-secondary-foreground: oklch(25.70% 0.0000 0.00);
  --surface-tertiary: oklch(27.21% 0.0000 0.00);
  --surface-tertiary-foreground: oklch(27.21% 0.0000 0.00);
  --overlay: oklch(21.03% 0.0000 0.00);
  --default: oklch(27.40% 0.0000 0.00);
  --accent: oklch(100.00% 0.0001 263.28);
  --accent-foreground: var(--eclipse);
  --success: oklch(73.29% 0.1934 120.38);
  --warning: oklch(78.19% 0.1584 41.86);
  --danger: oklch(65.32% 0.2328 355.27);
  --field-background: oklch(21.03% 0.0000 0.00);
  --field-placeholder: oklch(70.50% 0.0000 0.00);
  --field-border: oklch(28.00% 0.0000 0.00);
  --segment: oklch(39.64% 0.0000 0.00);
  --border: oklch(28.00% 0.0000 0.00);
  --separator: oklch(25.00% 0.0000 0.00);
}

@keyframes accordion-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

@keyframes grid {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0);
  }
}

h2,
h3,
div {
  scroll-margin-top: 16px;
}

@supports (-webkit-hyphens: none) {

  h2,
  h3 {
    padding-top: 16px;
    margin-top: -16px;
  }
}

.chip {
  box-shadow: 0 0 0 2px #000;
}

.dark .chip {
  box-shadow: 0 0 0 2px #000;
}

.avatar {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
}

.dark .avatar {
  box-shadow: 0 0 0 2px #000, 0 0 0 4px #fff;
}